<div class="col-sm-6 col-sm-offset-3 question">
	<h1>Submit a question</h1>

	<form ng-submit="submitQuestion">
		<p>Question:</p>
		<textarea class="form-control"></textarea>
		<br>
		<p>Choices:</p>
		<input class="form-control" type="text" required="true" ng-model="cormen">
		<br>
		<input class="form-control" type="text" required="true" ng-model="cormen">
		<br>
		<input class="form-control" type="text" required="true" ng-model="cormen">
		<br>
		<input class="form-control" type="text" required="true" ng-model="cormen">
		<br>
		<div class="input-group">
		     <span class="input-group-addon">
		       <input type="radio" name="radio" id="radio{{$index + 1}}" class="radio" checked/>
		       <label for="radio1"></label>
		     </span>
		     <input type="text" class="form-control" aria-label="...">
		</div>
		<p>Relevant chapter:</p>
		<select class="form-control">
		  <option ng-repeat="chapter in cormen.chapters">{{chapter.nr}} {{chapter.name}}</option>
		</select>
	</form>
</div>